@import "tailwindcss";

@theme {
  --color-primary: #0001FB;
  --color-secendary: #000000;
  
}


/* Add to your global CSS */
.subcategory-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.subcategory-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}
.subcategory-exit {
  opacity: 1;
}
.subcategory-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease;
}